/* home.css */
.containerStyle {
    /* Add any styles for the containerStyle div */
  }
  
  .containerStyleButton {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  }
  
  .playButton {
    /* Add any additional styling for the playButton */
  }
  
  .fixed-content {
    overflow: hidden;
  }